# Environment
.env

# Flutter & Dart
.dart_tool/
.packages
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/

# IDE settings
.idea/
.vscode/
*.iml

# Logs
*.log

# Mac system files
.DS_Store
